body{
    
    background : url(hoh.jpg) ;
    
    background-size: cover;
} 
.sq{
   
    text-align:center ;
    color: rgb(0, 94, 255);
    
}
.fk{
    color: white;
    size: 10px;
}
input[type="submit"]{
    background-color: #1b75cf;
    color:white;
    border: 2px solid #f3f4f5;
    size: 10px 20px;
    
}
input[id="sign"]{
    background-color: #cfb016;
    color: black;
    border: 2px solid black;
    size: 10px 20px;
}
input{
    padding:    20px;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin: 10px;
    margin-left: 30px;

}
.sq{
    color: blue;
}
.welcome{
    color:white;
    background-color: rgb(72, 4, 93);
    border-radius: 10px;
}
.par{
    
    text-align: center;
    margin-right:50px;
    margin-top: 70px;
    margin-left: 950px;
    border-radius: 20px;
    max-height: 30px;
    
    
}
.hr::before{
    position: relative;
    left: -7px;
    content:"✏"
}


.here::before{
    position: relative;
    left: -7px;
    content:"✓"
}
.ph{
    letter-spacing: 1px;
    
}
.f{
    text-align: center;
    margin-right:50px;
    margin-top: 30px;
    margin-left: 950px;
    border-radius: 20px;
    max-height: 30px; 
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ccc;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #2272c8;
    color: white;
  }
  .lien::before{
    position: relative;
    left: -7px;
    content:"☛"
}
.list{
    white-space: nowrap;
}
.email::before{
    position: relative;
    left: -7px;
    content:"📩"

}
.pn::before{
    position: relative;
    left: -7px;
    content:"📞"

}
.adr::before{
    position: relative;
    left: -7px;
    content:"🏬"

}
.adr{
    text-align: start;
    

}
.pn{
    text-align: start;
    
}
.email {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: start;
  }
  .esm{

  }
  
  abel {
    font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 15px;
  margin-bottom: 7.5px;
  }
  .page{
    background-color: rgba(154, 224, 217, 0.258); 
    margin: 10px 10px 30px 100px;
    background : url(5172195.jpg) ;
    background-size: cover;
      height:450px;
      border-radius: 2%;
      box-shadow: 5px 5px 4px 3px rgb(125, 114, 114,0.5);
      overflow: scroll;
  }
  .esm::before{
    position: relative;
    left: -7px;
    content:"💼"

}
.pg{
    background-color: rgba(154, 224, 217, 0.258); 
    margin: 10px 10px 30px 100px;
    background : url(5172195.jpg) ;
    background-size: cover;
      height:450px;
      width: 400px;
      border-radius: 2%;
      box-shadow: 5px 5px 4px 3px rgb(125, 114, 114,0.5);
      overflow: scroll;
      
  }
  .nm{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: monospace;
    font-size: 48px;
    color: rgba(0,0,0,0.9);
  }
  .lenf{
    color:white;
    background-color: rgb(72, 4, 93);
    border-radius: 10px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
   
  }
  .pht1{
    text-align: center;
    margin-right:50px;
    margin-top: -10px;
    margin-left: 950px;
    max-height: 100px; 
  }
  .pht2{
    text-align: center;
    margin-right:50px;
    margin-top: -10px;
    margin-left: 950px;
    max-height: 100px; 
  }
  .pht3{
    text-align: center;
    margin-right:50px;
    margin-top: -10px;
    margin-left: 950px;
    max-height: 100px;   
  }
  .pht4{
    text-align: center;
    margin-right:50px;
    margin-top: -10px;
    margin-left: 950px;
    max-height: 100px;  
  }
  .pht5{
    text-align: center;
    margin-right:50px;
    margin-top: -10px;
    margin-left: 950px;
    max-height: 100px;  
  }
  .pht6{
    text-align: center;
    margin-right:50px;
    margin-top: -10px;
    margin-left: 950px;
    max-height: 100px;  
  }
  .dv {
    display: none;
}
.dvx {
  display: none;
  text-align: center;
    margin-right:50px;
    margin-top: 30px;
    margin-left: 950px;
    border-radius: 20px;
    max-height: 30px; 
    background : url(5172195.jpg) ;
}
caption{
  color: rgb(90, 226, 241);
  background-color:black ;
}
.vde{
   
  text-align: center;
    margin-right:950px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 20px;
    max-height: 130px; 

}
